
body {
    background: #21292F;
    font-family: Arial, Helvetica, sans-serif;
    color: #bebebe;
}

#name {
    color: #FFFFCF;
    font-size: 46px;
    margin: 50px 0 20px 0;
}

#bio {
    margin-bottom: 60px;
    color: #bebebe;
    line-height: 22px;
}

#flex-wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
}

#main {
    text-align: center;
}

.section.small {
    width: 300px;
}

@media screen and (max-width: 600px) {
    #main {
        box-sizing: border-box;
        width: 100%;
        padding: 0 15px;
    }

    .section.small {
        width: 100%;
    }

    .project-list .project {
        width: 100%;
    }
}

.section {
    margin-bottom: 20px;
}

.section-title {
    background: #FFFFCF;
    padding: 8px 12px;
    color: #21292F;
    display: inline-block;
    margin-bottom: 40px;
    font-size: 20px;
}

.project-list {
    display: flex;
    padding: 20px;
    flex-wrap: wrap;
    max-width: 700px;
    justify-content: space-between;
}

.project {
    text-align: center;
    margin-bottom: 40px;
    width: 46%;
}

.project-title {
    font-size: 18px;
    color: #E3E4D8;
    font-style: italic;
}

.project-title:hover {
    text-decoration: underline;
    color: white;
}

.project p {
    color: #bebebe;
    font-size: 15px;
    line-height: 22px;
}

.contact a {
    display: inline-block;
    color: #BEBEBE;
    margin-bottom: 10px;
}

.contact a:hover {
    color: white;
}